/*@media (max-width:1490px){
    .banner{
        } 
}

@media (max-width:1455px){
    .banner{
        
        } 
}

@media (max-width:1420px){
    .banner{

        } 
}

@media (max-width:1400px){
    .banner{

        } 
}

@media (max-width:1325px){
    .banner{

        } 
}

@media (max-width:1295px){
    .banner{
        
        } 
}

@media (max-width:1255px){
    .banner{
        
        } 
}

@media (max-width:1215px){
    .banner{
        
        } 
}

@media (max-width:1185px){
    .banner{
        
        } 
}

@media (max-width:1150px){
    .banner{
        
        } 
}

@media (max-width:1024px){
    .banner{

        } 
}
@media (max-width:1115px){
    .banner{
        
        } 
}

@media (max-width:1090px){
    .banner{
        
        } 
}

@media (max-width:1060px){
    .banner{
        
        } 
}

@media (max-width:1040px){
    .banner{
        
        } 
}

@media (max-width:1015px){
    .banner{
        
        } 
}

@media (max-width:990px){
    .banner{
        
        } 
}

@media (max-width:965px){
    .banner{
        
        } 
}

@media (max-width:920px){
    .banner{
        
        } 
}

@media (max-width:850px){
    .banner{
        
        } 
}*/

@media (max-width:830px){
    .banner{
        height:430px;
        } 
}

@media (max-width:810px){
    .banner{
        height:430px;
        } 
}

@media (max-width:795px){
    .banner{
        height:420px;
        } 
}

@media (max-width:770px){
    .banner{
        height:410px;
        } 
}

@media (max-width:730px){
    .banner{
        height:390px;
        } 
}

@media (max-width:690px){
    .banner{
        height:380px;
        } 
}

@media (max-width:640px){
    .banner{
        height:370px;
        } 
}

@media (max-width:625px){
    .banner{
        height:370px;
        } 
}

@media (max-width:605px){
    .banner{
        height:370px;
        } 
}

@media (max-width:590px){
    .banner{
        height:350px;
        } 
}

@media (max-width:580px){
    .banner{
        height:350px;
        } 
}

@media (max-width:550px){
    .banner{ 
        height:350px;
        } 
}

@media (max-width:500px){
    .banner{
        height:300px;
        } 
}

@media (max-width:485px){
    .banner{
        height:300px;
        } 
}
@media (max-width:450px){
    .banner{
        height:300px;
        } 
}


@media (max-width:425px){
    .banner{
        height:300px;
        } 
}

@media (max-width:385px){
    .banner{ 
        height:300px;
        } 
}

@media (max-width:375px){
    .banner{
        height:300px;
        } 
}

@media (max-width:360px){
    .banner{
        height:300px;
        } 
}