.banner{
    background:gray;
    height:650px; 
    width:100%;
    background-size:cover;
    background-position: top;
    overflow:hidden;

}

.banner_img{
    width:100%;
    height:100%;
    filter:brightness(0.6);
    transform:scale(1.2);
    -webkit-trasform:scale(1.05);
    -moz-trasform:scale(1.05);
    -ms-trasform:scale(1.05);
    -o-trasform:scale(1.05);
    transition:all 0.5s linear;
    -webkit-transition:all 0.5s linear;
    -moz-transition:all 0.5s linear;
    -ms-transition:all 0.5s linear;
    -o-transition:all 0.5s linear;
}

.banner_img:hover{
    filter:brightness(0.8);
    transform:scale(1.01);
    -webkit-trasform:scale(1.05);
    -moz-trasform:scale(1.05);
    -ms-trasform:scale(1.05);
    -o-trasform:scale(1.05);
    transition:all 0.5s linear;
    -webkit-transition:all 0.5s linear;
    -moz-transition:all 0.5s linear;
    -ms-transition:all 0.5s linear;
    -o-transition:all 0.5s linear;
}