.character_container{
padding:10px;
background:rgba(0,0,0,0.03);
box-sizing:border-box;
display: flex;
flex-wrap: wrap;

}

.title_characters{
    margin:10px 15px;
    color:gray;
    font-weight: 300;
}

.pagination_box{
    box-sizing: border-box;
    height:80px;
    background:white;
    padding:10px;
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction: column;
}

.pagination_box .pages_count{
    color:gray;
    background:rgba(0,0,0,0.05);
    border-radius:3px;
    padding: 2px 15px;
    margin:5px;
    
}

.pagination_btn{
    padding:10px 30px;
    color:white;
    background:dodgerblue;
    border:none;
    font-size:10px;
    margin:1px;
    cursor:pointer;
    outline:none;
}

.btn_prev{
    border-radius:50px 0 0 50px;
}


.btn_next{
    border-radius:0 50px 50px 0;
}