
@media (max-width:1490px){
    .character_container{
        padding:10px 9%;
        } 
}

@media (max-width:1455px){
    .character_container{
        padding:10px 8%;
        } 
}

@media (max-width:1420px){
    .character_container{
        padding:10px 7%;
        } 
}

@media (max-width:1400px){
    .character_container{
        padding:10px 5%;
        } 
}

@media (max-width:1325px){
    .character_container{
        padding:10px 4%;
        } 
}

@media (max-width:1295px){
    .character_container{
        padding:10px 10%;
        } 
}

@media (max-width:1255px){
    .character_container{
        padding:10px 15%;
        } 
}

@media (max-width:1215px){
    .character_container{
        padding:10px 14%;
        } 
}

@media (max-width:1185px){
    .character_container{
        padding:10px 13%;
        } 
}

@media (max-width:1150px){
    .character_container{
        padding:10px 12%;
        } 
}

@media (max-width:1024px){
    .character_container{
        padding:10px 15%;
        } 
}
@media (max-width:1115px){
    .character_container{
        padding:10px 11%;
        } 
}

@media (max-width:1090px){
    .character_container{
        padding:10px 10%;
        } 
}

@media (max-width:1060px){
    .character_container{
        padding:10px 9%;
        } 
}

@media (max-width:1040px){
    .character_container{
        padding:10px 8%;
        } 
}

@media (max-width:1015px){
    .character_container{
        padding:10px 7%;
        } 
}

@media (max-width:990px){
    .character_container{
        padding:10px 6%;
        } 
}

@media (max-width:965px){
    .character_container{
        padding:10px 13%;
        } 
}

@media (max-width:920px){
    .character_container{
        padding:10px 10%;
        } 
}

@media (max-width:850px){
    .character_container{
        padding:10px 9%;
        } 
}

@media (max-width:830px){
    .character_container{
        padding:10px 8%;
        } 
}

@media (max-width:810px){
    .character_container{
        padding:10px 7%;
        } 
}

@media (max-width:795px){
    .character_container{
        padding:10px 6%;
        } 
}

@media (max-width:770px){
    .character_container{
        padding:10px 15%;
        } 
}

@media (max-width:730px){
    .character_container{
        padding:10px 13%;
        } 
}

@media (max-width:690px){
    .character_container{
        padding:10px 10%;
        } 
}

@media (max-width:640px){
    .character_container{
        padding:10px 9%;
        } 
}

@media (max-width:625px){
    .character_container{
        padding:10px 8%;
        } 
}

@media (max-width:605px){
    .character_container{
        padding:10px 7%;
        } 
}

@media (max-width:590px){
    .character_container{
        padding:10px 6%;
        } 
}

@media (max-width:580px){
    .character_container{
        padding:10px 19%;
        } 
}

@media (max-width:550px){
    .character_container{
        padding:10px 16%;
        } 
}

@media (max-width:500px){
    .character_container{
        padding:10px 15%;
        } 
}

@media (max-width:485px){
    .character_container{
        padding:10px 12%;
        } 
}
@media (max-width:450px){
    .character_container{
        padding:10px 10%;
        } 
}


@media (max-width:425px){
    .character_container{
        padding:10px 6%;
        } 
}

@media (max-width:385px){
    .character_container{
        padding:10px 5%;
        } 
}

@media (max-width:375px){
    .character_container{
        padding:10px 3%;
        } 
}

@media (max-width:360px){
    .character_container{
        padding:10px 26%;
        } 
}